@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Amarante");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* Get rid of all default margins/paddings. Set typeface */
/*
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
body {
  webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum";
  -webkit-font-smoothing: subpixel-antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  padding: 0;
}
*/

html {
  height: 100%;
  background-color: #f8f8f8;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  background: #eee url("https://i.imgur.com/eeQeRmk.png"); /* https://subtlepatterns.com/weave/ */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", "Roboto", "lato", sans-serif;
  webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum";
  -webkit-font-smoothing: subpixel-antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
/*
body { 
  background: #eee url('https://i.imgur.com/eeQeRmk.png'); /* https://subtlepatterns.com/weave/ 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}


/*
body {
		background: #cacaca;
		margin: 0;
		padding: 20px;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	   	font-weight: 300;
	}
*/

.areaMenu {
  width: 23%;
}
.entornoTableDetailBlank {
  width: 40%;
}
.clientDetailsBlank {
  width: 40%;
}
.entornoTableDetail {
  margin-top: 10px;
}

/*##################################################################################################################*/

::selection {
  background: #5f74a0;
  color: #fff;
}
::-moz-selection {
  background: #5f74a0;
  color: #fff;
}
::-webkit-selection {
  background: #5f74a0;
  color: #fff;
}

a {
  text-decoration: none;
  /*color: inherit;*/
  /*color: #1e85c9;*/
  color: black;
}

.vertical-nav {
  position: fixed;
  background: white;
  box-shadow: 0 0 40px #00000021;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  /*margin: 0;*/
  padding: 0;
  height: 20vh;
  width: 150px;
}
.vertical-nav li {
  list-style: none;
  display: block;
  width: 100%;
  border-bottom: solid 1px #f2f5ff;
  text-align: center;
  position: relative;
  flex-grow: 1;
  align-items: stretch;
  display: flex;
}
.vertical-nav li:last-child {
  border: none;
}
.vertical-nav li a {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  transition: all 0.2s ease;
}
.vertical-nav li:hover > a {
  background: #fafafa;
  transition: all 0.2s ease;
}
.vertical-nav li:hover > a .feather {
  transform: scale(1.1);
  transition: all 0.2s ease;
}
.vertical-nav li:hover > .hover-menu,
.vertical-nav li:focus-within > .hover-menu {
  visibility: visible;
  opacity: 1;
  -webkit-animation: slide-down 0.2s ease-out;
  -moz-animation: slide-down 0.2s ease-out;
  transition: all 0.5s ease;
  display: block;
}
.vertical-nav li .hover-menu {
  background: white;
  visibility: hidden;
  transition: all 0.5s ease;
  opacity: 0;
  display: none;
  position: absolute;
  left: 150px;
  min-width: 200px;
  margin: 0;
  padding: 0;
  top: 0;
  box-shadow: 0 0 40px #00000021;
}
.vertical-nav li .hover-menu:after {
  right: 100%;
  top: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 10px;
  margin-top: -10px;
}
.vertical-nav li .hover-menu ul {
  margin: 0;
  padding: 0;
}
.vertical-nav li .hover-menu ul li {
  list-style: none;
  display: block;
  width: 100%;
  text-align: center;
}
.vertical-nav li .hover-menu ul li a {
  width: 100%;
  display: block !important;
  text-decoration: none;
  padding: 15px 20px;
  text-align: left;
  height: auto !important;
  font-weight: 400;
}
.vertical-nav li .hover-menu ul li a:hover {
  background: #fafafa;
  transition: 0.3s ease;
}

.menu-header {
  font-family: "Roboto Condensed", sans-serif;
  color: #929292;
  font-size: 13px;
  text-align: left !important;
  padding: 12px 20px 5px 20px;
  font-weight: 600;
  border-bottom: none !important;
}

.log-out a {
  /*background: #1e85c9;*/
  background: purple;
  color: white;
}
.log-out a:hover {
  /*color: #1e85c9;*/
  color: purple;
  background: white;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  0 {
    opacity: 0;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

/*##################################################################################################################*/

/*
.entornoTableDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 70%;
  background-color: white;
  width: 80%;
  border-radius: 8px;
  padding: 10px 10px;
  box-shadow: 0 5px 5px rgba(92, 99, 105, 0.2);
}

.tableDetails {
  border-collapse: collapse;
  width: 95%;
  height: 40%;
}

.tituloTable {
  font-size: 50px;
  text-align: center;
  margin-top: 0px;
  
}

td,
th {
  text-align: center;
  margin: auto;
  border: 1px solid black;
  padding: 8px;
}

*/

::selection {
  background: #5f74a0;
  color: #fff;
}
::-moz-selection {
  background: #5f74a0;
  color: #fff;
}
::-webkit-selection {
  background: #5f74a0;
  color: #fff;
}

br {
  display: block;
  line-height: 1.6em;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}

input,
textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
strong,
b {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  max-width: 100%;
}

h1 {
  font-family: "Amarante", Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
}

/** page structure **/
#wrapper {
  display: block;
  width: 750px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35);
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}

#keywords thead {
  cursor: pointer;
  /*background: #c9dff0;*/
  background: purple;
}
#keywords thead tr th {
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span {
  padding-right: 20px;
  color: white;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp,
#keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url("https://i.imgur.com/SP99ZPJ.png");
}
#keywords thead tr th.headerSortDown span {
  background-image: url("https://i.imgur.com/RkA9MBo.png");
}

#keywords tbody tr {
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#keywords tbody tr td.lalign {
  text-align: left;
}
#colname {
  color: black;
}

/****************************************************************************/

/* Puts the form in the center both horizontally and vertically. Sets its height to 100% of the viewport's height */

.clientDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 70%;
  width: 40%;
}

.form {
  background-color: white;
  width: 90%;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.title {
  font-size: 50px;
  text-align: center;
  /*margin-bottom: 50px;*/
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.inputContainerEmail {
  position: relative;
  width: 285px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* Style the inputs */

.estilotextarea {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
  width: 100%;
  border: 1px groove #dadce0;
  /*border: 5px groove blue;*/
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

/* Hide the placeholder texts (a) */

::placeholder {
  color: transparent;
}

/* Styling text labels */

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #dadce0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.buttonDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;
  height: 60%;*/
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 35px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px;
}

.submitBtn:hover {
  background-color: #9867c5;
  transform: translateY(-2px);
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
}

.input:focus {
  border: 2px solid purple;
}

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}
